.Settings-div {
    text-align: center;
  }
  
  
  .Settings-div {
    background-color: #12a40a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  
    text-align: center;
  }
  
  
  .Settings-div {
    background-color: #12a40a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  
    text-align: center;
  }
  
  
  .Settings-div {
    background-color: #12a40a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  
    text-align: center;
  }
  
  
  .Settings-div {
    background-color: #12a40a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  
    text-align: center;
  }
  
  
  .Settings-div {
    background-color: #12a40a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  
    text-align: center;
  }
  
  
  .Settings-div {
    background-color: #12a40a;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  

  
  